@CHARSET "UTF-8";

body {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Raleway', sans-serif;
	background: rgb(99,182,219); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(99,182,219,1) 0%, rgba(48,157,207,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(99,182,219,1) 0%,rgba(48,157,207,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(99,182,219,1) 0%,rgba(48,157,207,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b6db', endColorstr='#309dcf',GradientType=0 ); /* IE6-9 */
	line-height: 1.42857143;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'FontAwesome';
	src: url('../partials/fonts/fontawesome-webfont.eot?v=3.0.1');
  	src: url('../partials/fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../partials/fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('../partials/fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
}

.page-title {
	font-size: 22px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	border-bottom: 1px dashed #343842;
	line-height: inherit;
	color: #343842;
}

.z-listcell-content {
	
	height: auto !important;
}

#wrapper {
	width: 100%;
}

a, li {
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

.z-button {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	
}

li, .z-window-header, .z-window-content, .z-messagebox > .z-label {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

.li-menu {
	color: #f8f8f8;
}

.z-a {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}


@media(min-width:768px) {
	.zk-container {
		position: inherit;
		margin: 0 0 0 250px; 
		padding: 0 30px;
		border-left: 1px solid #d3d7cf;
	}
	
	.sidebar {
		z-index: 1;
		position: absolute;
		width: 250px;
		margin-top: 51px;
	}
}

.zk-container {
	background: #f8f8f8;
	min-height: 630px; 
	padding: 0 15px;
}

@media(max-width:500px) {
	.btn {
		width: 100%;
		display:block;
		margin-bottom: 5px;
	}
}

td, .z-listbox-emptybody {
	font-family: 'Raleway', sans-serif;
}

.form-label, .z-listheader-content, .z-label {
	font-family: 'Raleway', sans-serif;
	color: #555; 
	font-size: 14px; 
	font-weight: 600; 
	padding: 0;
}

.form-input, input[type=checkbox], .z-lookupbox {
	font-family: 'Raleway', sans-serif;
	color: #444;
	font-size: 15px;
	height: 30px;
	width: 100%;
	margin: 0;
	padding: 0;
}

input[type=radio], .z-radio-content {
	color: #444;
	font-size: 15px;
	height: 20px;
	width: 50%;
}

.z-bandpopup > .z-vbox {
	width: inherit;
}

.z-timebox-input, .z-combobox-input,.z-bandbox-input, .z-lookupbox-input {
	font-family: 'Raleway', sans-serif;
	color: #444;
	font-size: 15px;
	height: 30px;
	/**width: 97.66666667%; **/
	/**right: 83.33333333%;**/
	width: 97.3333333%;
}

.z-timebox-button, .z-combobox-button, .z-bandbox-button, .z-lookupbox-button {
	height: 30px;
	/**right: 16.66666667%;**/
	width: 2.66666667%;

	
	/**width: 2.33333333%;**/
}

@media(max-width:1100px) {
	
	.z-timebox-input, .z-combobox-input,.z-bandbox-input, .z-lookupbox-input {
		
		/**width: 97.66666667%; **/
		width: 93.33333333%;
		/**width: 97.3333333%;**/
	}
	
	.z-timebox-button, .z-combobox-button, .z-bandbox-button, .z-lookupbox-button {
		
		width: 6.66666667%;
		/**width: 2.66666667%;**/
	
		
		/**width: 2.33333333%;**/
	}
}

.z-timebox-input:focus, .z-bandbox-input:focus, .z-combobox-input:focus, .form-input:focus {
	border: solid 1px rgba(0, 153, 255, .75);
	-webkit-box-shadow: 0px 0px 6px 1px rgba(102, 153, 255, .75);
	-moz-box-shadow: 0px 0px 6px 1px rgba(102, 153, 255, .75);
	box-shadow: 0px 0px 6px 1px rgba(102, 153, 255, .75);
}

.z-timebox-input {
	font-family: 'Raleway', sans-serif;
	width: 100%;
}

.z-button:hover, .z-tab-content:hover {
	text-decoration: none;
	background: linear-gradient(lightgrey, white);
}

.navbar-default {

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#63b6db+0,309dcf+100;Blue+3D+%234 */
	background: rgb(99,182,219); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(99,182,219,1) 0%, rgba(48,157,207,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(99,182,219,1) 0%,rgba(48,157,207,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(99,182,219,1) 0%,rgba(48,157,207,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b6db', endColorstr='#309dcf',GradientType=0 ); /* IE6-9 */
}

 .navbar-default {
	font-family: 'Raleway', sans-serif;
}



.z-notification .z-notification-cl, 
.z-notification .z-notification-cnt {
    height: 500px;
    width: 250px;
}


