@CHARSET "UTF-8";

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-Bold.ttf'),
	url('../fonts/raleway/Raleway-Regular.ttf'),
	url('../fonts/raleway/Raleway-Heavy.ttf'),
	url('../fonts/raleway/Raleway-Light.ttf'),
	url('../fonts/raleway/Raleway-Medium.ttf');
}

/* ------------------ */
/* Tags padrão */
/* ------------------ */

body {
	/* font-family: 'Open Sans', sans-serif; */
	font-family: 'Raleway', sans-serif;
	background: #fff;
	/* background: rgb(99,182,219); Old browsers
	background: -moz-linear-gradient(top, rgba(99,182,219,1) 0%, rgba(48,157,207,1) 100%); FF3.6-15
	background: -webkit-linear-gradient(top, rgba(99,182,219,1) 0%,rgba(48,157,207,1) 100%); Chrome10-25,Safari5.1-6
	background: linear-gradient(to bottom, rgba(99,182,219,1) 0%,rgba(48,157,207,1) 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b6db', endColorstr='#309dcf',GradientType=0 ); IE6-9 */
	line-height: 1.42857143;
	margin: 0;
	padding: 0;
}

a, li {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

li, .z-window-header, .z-window-content, .z-messagebox > .z-label {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

td {
	font-family: 'Raleway', sans-serif;
}

input[type=radio], .z-radio-content {
	color: #444;
	font-size: 15px;
	height: 20px;
	width: 50%;
}
input[type=text] {
  background: transparent;
  outline: none;
  height:22px;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid #b9b9b9;
  transition: all 0.3s ease;
  /* width: 100%; */
  /* margin-left:1px;
  box-shadow: -8px 10px 0px -7px #b9b9b9, 8px 10px 0px -7px #b9b9b9;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s; */
  /* left: -100%; */
}
input[type=text]:focus
 {
  outline: none;
  border-bottom: 0;
  box-shadow: -8px 10px 0px -7px #347abe, 8px 10px 0px -7px #347abe;
}

.z-combobox {
	
	margin: 0;
	padding: 0;
	transition: all 0.3s ease;
}

.z-combobox:focus {
	/* box-shadow: -8px 10px 0px -7px #b9b9b9, 8px 10px 0px -7px #b9b9b9; */
	border-bottom: 2px dashed orange;
}


/* ------------------ */
/* Definição de Fontes */
/* ------------------ */

@font-face {
	font-family: 'FontAwesome';
	src: url('../partials/fonts/fontawesome-webfont.eot?v=3.0.1');
  	src: url('../partials/fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../partials/fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('../partials/fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
}

/* ------------------ */
/* Classes CSS puro */
/* ------------------ */

.page-title {
	font-size: 22px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	border-bottom: 2px solid #347abe;
	line-height: inherit;
	color: #777;
}

.navbar-default {
	background: white;
}

.form-label, .z-listheader-content, .z-label {
	font-family: 'Raleway', sans-serif;
	color: #347abe; 
	font-size: 14px; 
	font-weight: 600; 
	padding: 0;
}

.form-input, input[type=checkbox], .z-lookupbox {
	font-family: 'Raleway', sans-serif;
	color: #444;
	font-size: 15px;
	height: 30px;
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
}

.zk-container {
	background: transparent;
	min-height: 630px; 
	padding: 0 15px;
}

.sidebar ul li > .z-a {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: #777;
	transition: all 0.2s ease-in-out;
}

.sidebar ul li > .z-a:hover, .sidebar ul li > .z-a:focus, .sidebar ul li > .z-a.active {
	background: #347abe;
	color: white;
}

.navbar-brand.z-a {
	font-family: 'Raleway', sans-serif;
	transition: all 0.3s ease;
}

.navbar-brand.z-a:hover {
	color: #347abe;
}

/* ------------------ */
/* Classes CSS ZK */
/* ------------------ */

/* Listcell */

.z-listcell-content {
	height: auto !important;
}


/* Button */

.z-button {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;	
}

.z-button:hover, .z-tab-content:hover {
	text-decoration: none;
	background: linear-gradient(lightgrey, white);
}

/* Input (Timebox, Combobox, Bandbox) */

.z-timebox-input, .z-combobox-input,.z-bandbox-input, .z-lookupbox-input {
	font-family: 'Raleway', sans-serif;
	color: #444;
	font-size: 15px;
	height: 22px;
	width: 97.3333333%;
	transition: all 0.3s ease;
}

/* Input Button (Timebox, Combobox, Bandbox) */

.z-timebox-button, .z-combobox-button, .z-bandbox-button, .z-lookupbox-button {
	min-height: 22px;
	height: 22px !important;
	width: 2.66666667%;
	padding-top: 0;
	border: 0;
  border-radius: 0;
 /*  border-bottom: 2px solid #b9b9b9;
  transition: all 0.3s ease; */
}

/* Tabpanel */

.z-tabpanel {
	border: 0;
	/* border-top: 2px solid #347abe; */
}

/* Tabs */

.z-tabs-content {
	border: 0;
	/* border-bottom: 2px solid #347abe; */
}

/* Tab */

.z-tab {
	border-radius: 0;
	background: white;
	border: 0;
	color: #777;
	border-bottom: 2px solid #777;
	transition: border-color 0.3s ease;
}

.z-tab:hover, .z-tab:hover .z-tab-text {
	background: white;
	color: #347abe;
	border-color: #347abe;
}

 .z-tab.z-tab-selected,  .z-tab-selected .z-tab-text {
	border-color: #347abe;
	color: #347abe;
}


/* Listbox */

.z-listbox {
	border: 0;
}

.z-listbox-header-border {
	border-bottom: 2px solid #777;
}

.z-listheader, .z-listbox-header {
	border: 0;
	background: transparent;
}

.z-listcell-content {
	font-family: 'Raleway', sans-serif;
	color: #444;
	font-size: 15px;
	height: 22px;
}

.z-listitem .z-listcell {
	border: 0;
	transition: all 0.3s ease;
}

.z-listitem:hover .z-listcell {
	background: #347abe;
	
}

.z-listitem:hover .z-listcell > .z-listcell-content {
	color: white;
	font-weight: 600;
}

@media(max-width:500px) {
	.btn {
		width: 100%;
		display:block;
		margin-bottom: 5px;
	}
}

@media(min-width:768px) {
	.zk-container {
		position: inherit;
		margin: 0 0 0 250px; 
		padding: 0 30px;
		border-left: 1px solid #d3d7cf;
	}
	
	.sidebar {
		z-index: 1;
		position: absolute;
		width: 250px;
		margin-top: 51px;
	}
}

@media(max-width:1100px) {
	
	.z-timebox-input, .z-combobox-input,.z-bandbox-input, .z-lookupbox-input {
		width: 93.33333333%;
	}
	
	.z-timebox-button, .z-combobox-button, .z-bandbox-button, .z-lookupbox-button {
		width: 6.66666667%;
	}
}


.z-timebox-input {
	font-family: 'Raleway', sans-serif;
	width: 100%;
}
